<div class="container">
  <p>{{attrs.projectName}} |
    <a href="{{attrs.license}}">licence</a> |
    <a href="{{attrs.connect}}">connect</a> |
    <a href="https://twitter.com/{{attrs.twitter}}">@{{attrs.twitter}}</a> |
    <a href="https://plus.google.com/u/1/{{attrs.googlePlus}}">g+</a> |
    <a href="https://www.codingame.com/profile/{{attrs.codingame}}">codingame</a> |
    <a href="https://www.hackerrank.com/{{attrs.hackerRank}}">Hacker Rank</a> |
    <a href="http://www.freecodecamp.com/{{attrs.fccProfile}}">FCC Profile</a> |
    <a href="https://github.com/{{attrs.gitRepo}}">Git Repo</a> |
    <a href="https://github.com/{{attrs.gitRepo}}/issues?state=open">Issues</a>
  </p>
</div>

<!--
project-name="FreeCodeCamp - Basejump: Chart the Stock Market"
        license="https://github.com/MichaelLeeHobbs/fccResources/blob/master/LICENSE.md"
        connect="http://www.michaelleehobbs.net/#/connect"
        twitter="michaelleehobbs"
        google-plus="https://plus.google.com/u/1/107371504702151614419"
        codingame="https://www.codingame.com/profile/8504b6da519d3daf2a3ebf31ebb55baf691748"
        hacker-rank="https://www.hackerrank.com/Michael_Hobbs"
        fcc-profile="michaelleehobbs"
        git-repo="https://github.com/MichaelLeeHobbs/fccnews"

-->
